.cta-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cta-contact {
  display: flex;
  margin-left: 390px;
}
.cta-nav-items {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.cta-nav-items img {
  margin-right: 0.5rem;
}
.cta-nav-items a {
  color: var(--primary-color);
  font-size: 0.875;
}

.cta-b2b {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--white);
}
.b2b {
  padding: 0 1rem;
  position: relative;
  cursor: pointer;
}
.b2b h2 {
  font-size: 1.125rem;
  color: var(--primary-color);
}
.line {
  position: absolute;
  top: 0px;
  right: -5px;
  font-size: 2rem;
}
.language {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
}
.language p {
  cursor: pointer;
  margin-top: 1.2rem;
}

/*Nav bar */

nav {
  display: flex;
  margin-left: 150px;
  align-items: center;
  position: absolute;
  top: 25px;
}

ul {
  display: flex;
  margin-top: -5rem;
  margin-left: 12rem;
}
ul li {
  padding-left: 1.5rem;
}
ul li a {
  color: var(--secondary-color);
  font-weight: 700;
}

.active {
  color: var(--primary-color);
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--primary-color);
}

.menu.on {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 998;
  transition: transform 0.5s ease-in-out;
  overflow-x: hidden;
  cursor: pointer;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.hamburger.on .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.on .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #101010;
}

.hamburger.on .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #101010;
}
@media screen and (max-width: 768px) {
  .mini-nav {
    overflow-x: hidden;
  }
  .cta-nav {
    display: none;
  }
  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
  }
  .logo img {
    width: 75px;
  }
  nav {
    margin: unset;
    position: unset;
  }
  ul {
    display: none;
  }
  ul.on {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  ul li {
    padding-bottom: 1.5rem;
  }
  .cta-nav-items {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 999;
  }
}
