.service {
  display: grid;
  place-items: center;
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.service::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  background: url("../images/BGService.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  opacity: 8;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.bg-img {
  position: relative;
}
.row {
  display: flex;
}
.service-icone {
  background-color: var(--primary-color);
  width: 155px;
  height: 155px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: -70px;
  z-index: 1;
}
.service-container {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 1.5rem;
  position: relative;
}
.service-container:first-child,
.service-container:nth-child(2) {
  margin-right: 3.75rem;
}
.service-container h1 {
  color: var(--gray-text);
  font-size: 5rem;
}
.service-container h3 {
  font-size: 1.25rem;
  color: var(--white);
}
.service-image {
  position: relative;
  z-index: 1;
}
.service-image:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/serviceGreen.png") no-repeat;
  z-index: -1;
}

.service-text {
  position: absolute;
  text-align: center;
  top: 50px;
  width: 50%;
  z-index: 1;
}
.cta-text {
  display: grid;
  place-items: center;
  margin-top: 4.688rem;
  text-align: center;
}
.cta-text h3 {
  font-size: 1.125rem;
  margin-top: 4.688rem;
  padding-bottom: 2.5rem;
  color: var(--secondary-color);
}
.cta-text h1 {
  font-size: 3.125rem;
  color: var(--primary-color);
  padding-bottom: 2.375rem;
  width: 75%;
}
