.vonchers-container {
  margin-top: 163px;
  border-top: 1px solid var(--secondary-color);
  text-align: center;
}
.vouchers-imges {
  display: flex;
  justify-content: space-evenly;
  padding: 3.125rem 0;
}
.vouchers-text p {
  font-size: 0.75rem;
}
.vouchers-text p:first-child {
  padding-bottom: 1.875rem;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .vonchers-container {
    margin-top: 0;
  }
  .vouchers-imges {
    flex-direction: column;
  }
  .vouchers-imges img {
    width: 50%;
    height: 50%;
    margin: 1rem auto;
  }
}
