.why-container {
  display: flex;
}
.why-us-text h1 {
  font-size: 3.75rem;
  color: var(--primary-color);
}
.green-cart {
  background-color: var(--primary-color);
  width: 225px;
  height: 225px;
  color: var(--white);
}
.circle {
  background-color: var(--secondary-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: solid 4px var(--primary-color);
}
.why-us-text {
  flex: 1;
}
.why-us-image {
  flex: 1;
}
.image {
  position: relative;
}
.email {
  position: absolute;
  left: 0;
  bottom: 0;
}
.email h2 {
  padding-top: 7.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.875rem;
  line-height: 1.1;
}
.email-icon {
  position: absolute;
  top: 35px;
  left: 190px;
}

.why-container {
  margin-top: 145px;
  padding-bottom: 5rem;
}
.hemt {
  color: var(--secondary-color);
  background-color: #fff;
  padding: 0.5rem 0.3rem;
}
.why-us-text h1 {
  text-align: center;
  margin-right: -575px;
  position: relative;
  z-index: 3;
}
.two-colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.thub {
  position: relative;
  padding: 1rem 0;
  padding-right: 2.5rem;
  text-align: center;
  display: grid;
  place-items: center;
}
.thub h2 {
  font-size: 1.875rem;
  line-height: 1.1;
}
.thub p {
  font-size: 1.25rem;
  text-align: left;
}
.thub-icon {
  position: absolute;
  top: 30px;
  left: 190px;
}
.text {
  width: 50%;
}
.text h4 {
  margin-top: 100px;
  font-weight: 400;
  color: var(--secondary-color);
  font-size: 1.125rem;
  padding-bottom: 2.813rem;
}
.text h3 {
  font-size: 1.125rem;
  color: var(--secondary-color);
}
