@import url(./styles/base.css);
@import url(./styles/navbar.css);
@import url(./styles/hero.css);
@import url(./styles/services.css);
@import url(./styles/whyus.css);
@import url(./styles/vouchers.css);
@import url(./styles/footer.css);
@import url(./styles/aboutus.css);

.coming-soon {
  display: grid;
  place-items: center;
  height: 100vh;
}
.coming-soon h1 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--primary-color);
}
