@import url(./styles/base.css);
@import url(./styles/navbar.css);
@import url(./styles/hero.css);
@import url(./styles/services.css);
@import url(./styles/whyus.css);
@import url(./styles/vouchers.css);
@import url(./styles/footer.css);
@import url(./styles/aboutus.css);

.coming-soon {
  display: grid;
  place-items: center;

  background: linear-gradient(
    90deg,
    hsla(18, 76%, 85%, 1) 0%,
    hsla(203, 69%, 84%, 1) 99%
  );
  width: 100vw;
  height: 100vh;
}
.coming-soon h1 {
  font-size: 5rem;
  font-weight: bold;

  color: #fff;
}
